/* global */


/* header */

header{
    background-image: url(petsheader.webp);
    background-size:65%;
    background-position: center;
    padding: 3%;
}


nav{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

a{
    text-decoration: none;  
    color: Black;
}
.container-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* main*/

main{
    background-color: white;
    border-style: double;
    border-color: black;
    margin-bottom: 20px;
    border-radius: 20px;
}

body{
    /* background-image: url(petsbackground.jpg); */
    /* background-repeat:round;background-size: 10%; */
}

.textbackground{
    
    background-color: white;
    align-items: center;
    border: 2px;
    margin: 10% 40%;
    padding: 1px;
    border-color: black;
    border-style: solid;
}


/* footer */

footer{
    background-image: url(petsfooter.jpg);
    background-size:21%;
    height: 14vh;
    padding: 3%;
    text-decoration: none;


}
.footernav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.footer-title{
    background-color: lightgreen;
    display: inline-block
    ;

}
.footer-link{
    background-color: lightgreen;
}